/* ----------------------------------------------
 * FOUNDATIONAL STYLES
 * ---------------------------------------------- */

 *,
:before,
:after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

a:link,
a:visited,
a:focus {
   color: blue;
}

body,
body * {
   user-select: none;
}

body {
   background-color: #eee;
   background-image: url("./images/leather.2.jpg");
   background-size: 215px 150px;
}

body:before {
   content: "";
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: -1;
}

/* ----- SET UP THE PAGE ----- */

.page {
   width: 770px;
   height: 1020px;
   position: absolute;
   margin: 0 auto 20px;
   /*margin-left: 40px;  /*temp setting to see tabs*/
   top: 0;
   left: 0;
   right: 0;
   padding: 20px 70px 70px 70px;
   font-family: "Special Elite";
}

.page:before,
.page:after {
   content: "";
   position: absolute;
   top: 20px;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   border: 1px solid #f3e8e2;
   background-image: url("./images/oldpaper.4.jpg");
}

.page:after {
   background-image: url(none);
   background-color: rgba(255, 255, 255, 0.5);
}

.page:not(:target) ~ .page:last-of-type {
   z-index: 100;
}

/* ----- SET UP THE TABS ----- */

.page > a {
   position: absolute;
   text-decoration: none;
   font: bold 14px/2 "Vag Handwritten", sans-serif;
   background-color: #fcf0ad;
   width: 90px;
   letter-spacing: 1px;
   height: 53px;
   text-align: center;
   color: #525252;
   left: -30px;
   top: 120px;
   padding: 0 10px;
   transform-origin: top left;
   transform: rotate(-88deg);
   opacity: 0.5;
}

/* ----- VISUALLY SEPARATE THE TABS ----- */

.page:nth-of-type(1) > a {
   top: 215px;
   transform: rotate(-93deg);
   background-color: #f9a55b;
}

.page:nth-of-type(2) > a {
   top: 310px;
   transform: rotate(-91deg);
   background-color: #d0e17d;
}

.page:nth-of-type(3) > a {
   top: 398px;
   transform: rotate(-87deg);
   background-color: #99c7bc;
}

.page:nth-of-type(4) > a {
   top: 500px;
   transform: rotate(-92deg);
   background-color: #bab7a9;
}

.page:nth-of-type(5) > a {
   top: 590px;
   transform: rotate(-88deg);
   background-color: #deac2f;
}

.page:nth-of-type(6) > a {
   top: 690px;
   transform: rotate(-91deg);
   background-color: #ed839d;
}

.page:nth-of-type(7) > a {
   top: 785px;
   transform: rotate(-87deg);
   background-color: #cd9ec0;
}

/* ----- IMPLEMENT TAB FUNCTIONALITY ----- */

.page:target {
   z-index: 100;
}

.page:target ~ .page:last-of-type {
   z-index: 1;
}

.page:target > a {
   opacity: 1;
}

.page:not(:target) > a:hover {
   opacity: 0.85;
}

.page:not(:target) ~ .page:last-of-type > a {
   opacity: 1;
}

.page:target ~ .page:last-of-type > a {
   opacity: 0.5;
}

.page:target ~ .page:last-of-type > a:hover {
   opacity: 0.85;
}

/* ----- MAKE THE PAGES APPEAR LOOSELY STACKED ----- */

.page {
   transform-origin: center center;
}

.page:nth-of-type(2) {
   transform: rotate(0.6deg);
}

.page:nth-of-type(4) {
   transform: rotate(0.8deg);
}
.page:nth-of-type(6) {
   transform: rotate(0.7deg);
}
.page:nth-of-type(7) {
   transform: rotate(0.44deg);
}

/* ----- DYNAMICALLY GENERATE PAGE COUNTER ----- */

.page > footer {
   position: absolute;
   bottom: 20px;
   left: 0;
   right: 0;
   text-align: center;
   font: normal 12px/1 "Special Elite";
}

body {
   counter-reset: pageNumber 0;
}

.page > footer:before {
   counter-increment: pageNumber 1;
   content: counter(pageNumber) " of 7";
}

/* ----- TITLE PAGE ----- */

#title > header {
   position: absolute;
   text-align: center;
   top: 33%;
   left: 50%;
   transform: translate(-50%);
}

#title h1 {
   margin: 0;
   font: normal 30px/2 "Veteran Typewriter";
   letter-spacing: 3px;
   white-space: nowrap;
}

#title h2 {
   text-transform: uppercase;
   font: bold 30px/2 "Veteran Typewriter";
}

/* ----- SECTION HEADINGS ----- */

.page h1 {
   margin-top: 70px;
   font: normal 25px/1 "Special Elite";
}

.page h2 {
   font-weight: bold;
   font-size: 13px;
   margin-bottom: 10px;
}

/* ----- ABOUT SECTION ----- */

.page .info {
   margin-top: 15px;
}

#about .info img {
   float: left;
   width: 20%;
   margin: 5px 10px 10px 0;
   filter: sepia(50%); 
}

.page .info p {
   font: normal 13px/1.5 "Special Elite";
}

#about .info p {
   width: calc(80% - 10px);
   float: right;
}

#about .info p + p {
   margin-top: 12px;
}

#about .info a:hover {
   border-bottom: 1px dotted blue;
}

/* ----- EDUCATION SECTION ----- */

.page .info div + div {
   margin-top: 13px;
}

#education .info p {
   font-size: 14px;
}

#education .info strong {
   font-weight: bold;
}

#education .degree p + p {
   margin-top: 5px;;
}

#education .degree details {
   margin-top: 5px;
}

#education .degree details p {
   font-size: 12px;
   margin-left: 14px;
}

#education .degree summary {
   font: normal 14px/1.5 "Special Elite";
   outline: 0;
   cursor: pointer;
   font-style: italic;
}

summary::marker {
   display: none;
}

/* ----- SKILLS SECTION ----- */

#skills .info {
   margin-top: 20px;
}

#skills .skillset h2 {
   font-size: 16px;
   margin-bottom: 16px;
   letter-spacing: 1px;
}

#skills .skillset + .skillset {
   margin-top: 20px;
}

#skills .skillset ul {
   float: left;
   width: 33%;
}

#skills .skillset {
   overflow: hidden;
}

#skills .skillset ul:nth-last-of-type(n + 4) {
   margin-top: 15px;
}

#skills .skillset ul > li {
   font-size: 13px;
}

#skills .skillset ul > li:first-of-type ~ li + li {
   margin-top: 5px;
}

#skills .skillset ul > li:first-of-type {
   text-transform: uppercase;
   margin-bottom: 7px;
   font-size: 14px;
   display: inline-block;
   border-bottom: 1px dotted #000;
}

/* ----- EXPERIENCE SECTION ----- */

#experience .role:nth-last-of-type(n + 4) {
   float: left;
   clear: left;
   width: 48%;
   margin-right: 2%;
}

#experience .role {
   display: inline-block;
   width: 50%;
}

#experience .role:nth-last-of-type(5) {
   margin-top: 0;
}

/* ----- PROJECTS SECTION ----- */

#projects .info {
   column-count: 2;
}

/* ----- PHOTOS SECTION ----- */

#gallery input {
   display : none;
}

#gallery {
   width: 630px;
   height: 391px;
   margin-top: 15px;
   position: relative;
}

#gallery .viewer {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border: solid #ccc;
   border-width: 10px 10px 30px 10px;
   border-image-source: url("./images/photo_border.png");
   border-image-slice: 21 21 97 21;
   border-image-repeat: stretch;
}

#gallery .viewer:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: url("../images/pictures/baltimore_downtown.JPG") center center/cover no-repeat;
   filter: sepia(50%);
}

#gallery .thumbnail {
   position: absolute;
   bottom: -72px;
   width: 100px;
   height: 62px;
   left: 10px;
   background: url("../images/pictures/baltimore_downtown.JPG") center center/cover no-repeat;
   opacity: 0.6;
   cursor: pointer;
   filter: sepia(50%);
}

#gallery .thumbnail:nth-of-type(2) {
   left: 137.5px;
   background-image: url("../images/pictures/crestone_road.JPG");
}

#gallery .thumbnail:nth-of-type(3) {
   left: 264px;
   background-image: url("../images/pictures/reading_near_atlantic.JPG");
}

#gallery .thumbnail:nth-of-type(4) {
   left: 391.5px;
   background-image: url("../images//pictures/texas_sunset.JPG");
}

#gallery .thumbnail:nth-of-type(5) {
   left: auto;
   right: 10px;
   background-image: url("../images//pictures/mb_sunset.JPG");
}

#gallery .thumbnail:hover {
   opacity: 0.8;
}

#gallery input[type="radio"]:not(:checked) ~ .thumbnail:nth-of-type(1) {
   opacity: 1;
}

#gallery input[type="radio"]:not(:first-of-type):checked ~ .thumbnail:nth-of-type(1) {
   opacity: 0.6;
}

#gallery input[type="radio"]:not(:first-of-type):checked ~ .thumbnail:nth-of-type(1):hover {
   opacity: 0.8;
}

#gallery input[type="radio"]:nth-of-type(1):checked ~ .thumbnail:nth-of-type(1),
#gallery input[type="radio"]:nth-of-type(2):checked ~ .thumbnail:nth-of-type(2),
#gallery input[type="radio"]:nth-of-type(3):checked ~ .thumbnail:nth-of-type(3),
#gallery input[type="radio"]:nth-of-type(4):checked ~ .thumbnail:nth-of-type(4),
#gallery input[type="radio"]:nth-of-type(5):checked ~ .thumbnail:nth-of-type(5) {
   opacity: 1;
}

#gallery input[type="radio"]:nth-of-type(1):checked ~ .viewer:before {
   background-image: url("../images/pictures/baltimore_downtown.JPG");
}

#gallery input[type="radio"]:nth-of-type(2):checked ~ .viewer:before {
   background-image: url("../images/pictures/crestone_road.JPG");
}

#gallery input[type="radio"]:nth-of-type(3):checked ~ .viewer:before {
   background-image: url("../images/pictures/reading_near_atlantic.JPG");
}

#gallery input[type="radio"]:nth-of-type(4):checked ~ .viewer:before {
   background-image: url("../images/pictures/texas_sunset.JPG");
}

#gallery input[type="radio"]:nth-of-type(5):checked ~ .viewer:before {
   background-image: url("../images/pictures/mb_sunset.JPG");
}

#gallery p {
   position: absolute;
   left: 10px;
   right: 10px;
   bottom: 0;
   z-index: 2;
   display: none;
   color: #484848;
   font-size: 11px;
   line-height: 30px;
   font-weight: normal;
   font-style: italic;
   letter-spacing: 1px;
   text-shadow: 0 0 1px #fff;
}

#gallery input[type="radio"]:not(:checked) ~ p:nth-of-type(1) {
   display: block;
}

#gallery input[type="radio"]:not(:first-of-type):checked ~ p:nth-of-type(1) {
   display: none;
}

#gallery input[type="radio"]:nth-of-type(1):checked ~ p:nth-of-type(1),
#gallery input[type="radio"]:nth-of-type(2):checked ~ p:nth-of-type(2),
#gallery input[type="radio"]:nth-of-type(3):checked ~ p:nth-of-type(3),
#gallery input[type="radio"]:nth-of-type(4):checked ~ p:nth-of-type(4),
#gallery input[type="radio"]:nth-of-type(5):checked ~ p:nth-of-type(5) {
   display: block;
}

#gallery p:nth-of-type(4),
#gallery p:nth-of-type(5) {
   text-align: right;
}

/* ----- CONTACT SECTION ----- */

#postcard {
   width: 630px;
   height: 450ps;
   position: absolute;
   top: 160px;
   /* border: 1px solid black; */
}

#postcard:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 600px;
   background: url("./images/soviet_postcard.5.png") no-repeat top left/630px 450px;
   opacity: 0.75;
}

#postcard:after {
   content: "";
   position: absolute;
   width: 150px;
   height: 50px;
   background: url("./images/tape.png") no-repeat top left/150px 50px;
   top: -25px;
   left: 50%;
   margin-left: -75px;
   opacity: 0.75;;
}

#postcard > * {
   position: absolute;
}

#postcard > label {
   top: 180px;
   left: 45px;
   z-index: 2;
   font-style: italic;
   font-size: 12px;
   width: 55px;
}

#postcard > label:nth-of-type(2) {
   top: 220px;
}

#postcard > label:nth-of-type(3) {
   top: 260px;
}

#postcard > label:nth-of-type(4) {
   top: 300px;
}

#postcard > label:nth-of-type(5) {
   left: 340px;
}

#postcard > span, 
#postcard > input {
   position: absolute;
   top: 180px;
   font-size: 12px;
   left: 110px;
   width: 175px;
   z-index: 1;
}

#postcard > span {
   padding-left: 2px;
}

#postcard > input {
   outline: 0;
   border: 0;
   background-color: rgba(255, 255, 255, 0.25);
   padding: 0 2px;
   font-family: "Special Elite";
   line-height: 20px;
}

#postcard > input:first-of-type {
   top: 215px;
}

#postcard > input:nth-of-type(2) {
   top: 255px;
}

#postcard > input:nth-of-type(3) {
   top: 295px;
}

#postcard > textarea {
   position: absolute;
   width: 235px;
   height: 120px;
   top: 200px; 
   left: 340px;
   border: 0;
   background-color: rgba(255, 255, 255, 0.25);
   outline: 0;
   resize: none;
   font: normal 12px "Special Elite";
   overflow: hidden;
}

#postcard > textarea::-webkit-scrollbar {
   display: none;
}

#postcard > input:invalid, 
#postcard > textarea:invalid {
   box-shadow: none;
   background-color: rgba(240, 140, 0, 0.15);
}

#postcard > label:nth-last-of-type(2):before,
#postcard > label:nth-last-of-type(3):before,
#postcard > label:nth-last-of-type(4):before {
   content: "";
   position: absolute;
   height: 5px;
   width: 175px;
   background: url("./images/underline.1.png") 0 -2px/cover no-repeat;
   bottom: -9px;
   right: -185px;
}

#postcard > label:nth-last-of-type(2):before {
   background-image: url("./images/underline.2.png");
}

#postcard > label:nth-last-of-type(4):before {
   background-image: url("./images/underline.3.png");
}

#postcard button,
#postcard > input:valid ~ button[type="reset"],
#postcard > textarea:valid ~ button[type="reset"],
#postcard > input:valid ~ button[type="submit"],
#postcard > textarea:valid ~ button[type="submit"] {
   position: absolute;
   top: 345px;
   right: 65px;
   font: bold 12px/2 "Special Elite";
   letter-spacing: 1px;
   color: rgba(20, 20, 20, 0.8);
   text-shadow: -1px -1px 1px #eee;
   padding: 0 10px;
   outline: 0;
   border: 1px solid rbga(129, 75, 0. 0.1);
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.2);
   background-image: linear-gradient(to bottom, rgba(129, 75, 0, 0.1), rgba(129, 75, 0, 0.3));
   cursor: pointer;
   pointer-events: all;
}

#postcard > button[type="submit"],
#postcard > input:valid ~ button[type="submit"],
#postcard > textarea:valid ~ button[type="submit"] {
   right: 135px;
}

#postcard > button[type="reset"],
#postcard > input:valid ~ button[type="submit"],
#postcard > textarea:valid ~ button[type="submit"] {
      pointer-events: none;
   border-color: #bbb;
   color: rgba(50, 50, 50, 0.7);
   text-shadow: 1px 1px 1px #fff;
   background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.1), rgba(100, 100, 100, 0.3));
}

#postcode > input:valid ~ button:hover,
#postcode > textarea:valid ~ button:hover {
   background-image: linear-gradient(to bottom, rgba(129, 75, 0, 0.2), rgba(129, 75, 0. 0.4));
}